.container {
	padding-top: 2.5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
}

.heading {
	text-align: left;
}

.right {
	text-align: right;
	float: right;
}

.halfsection {
	width: 50%; 
	float: left;
}

.center {
	text-align: center;
}

.description-title {
	font-size: 14px;
	font-weight: bold;
}

.description {
	font-size: 14px;
	font-weight: normal;
}

.odd {
	background-color: red;
}